
.newuserbtn{
    border-color: darkcyan;
    background-color: white;
    color: darkcyan;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 4px;
}

.newuserbtn:hover{
    color: white;
    background-color: darkcyan;
}
.theadcolor{
    background-color: rgb(48, 118, 118);
    color: white;
}
.trowcolor{
    background-color: rgb(249, 250, 250);
    color: black;
}
.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.95 );
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75 )
    
}

.productdisplay{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.95 );
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75 );
    height: 200px;
    width: 500px;

}

.productcontainer{
    display: flex;
    flex-direction: row;
    
}
.show-chart{
    width: 700px;
    
}

.charttitle{
    margin-bottom: 20px;
}

.productlg{
    display: flex;
    flex: 2;
    width: 500px;
    height: 200px;
    float: right;
       padding:20px;
    background-color:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75 );
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75 )
}
.divproduct{
    width: 200px;

    margin-top:10px;
}
.paragraph{
    margin: -5px 0px -5px 0px;
    font-size: 14px;
    
}
.spandisplay{
    margin-left: 50px;
}
.productdisplyimg{
    width: 70px;
    height: 50px;
 
}
.proname{
    margin-right: 70px;
    font-size: 20px;
    margin-top: 15px;
}
.productlistimg{
    width: 40px;
    height: 40px;
    
}